<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ title }}</title>
    </head>
    <body>
        <h2>Enter your name:</h2>
        <form action="/submit" method="post">
            <input type="text" name="username" placeholder="username" required></br>
            <input type="number" name="freq"  placeholder="frequency" required></br>
            <input type="number" name="age" placeholder="age"></br>
            <button type="submit">Submit</button>
            </form>
    </body>
    </html>